/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
        box-sizing: border-box;
}
* {
        margin: 0;
}
body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
}
input, button, textarea, select {
        font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
}
#root, #__next {
        isolation: isolate;
}

/* END CSS RESET */

/* * {
        outline: 1px solid red;
} */

@font-face {
        font-family: "Calculator";
        src: url(./etc/Calculator.ttf);
}

body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;
        background-color: #2b2b2b;
}

.Header, .Footer {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #bddfb5;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2b2b2b;
}

.Header {
        height: 50px;
        font-weight: bold;
        font-size: 20px;
}

.Footer {
        font-size: 10px;
        height: 15px;
}

.CalcNums {
        width: 250px;
        display: flex;
        gap: 5px;
        flex-wrap: wrap-reverse;
}

.mBut{
        width: 80px;
        height: 50px;
        border: 1px solid #aeaeae;
        color: #f0ebeb;
        box-shadow: 0 0 10px #2b2b2b;
}

.mBut:hover {
        background-color: #2b2b2b;
}

.Num, .Space {
        background-color: #4e4d4d;
}

.Op {
        background-color: #7e436e;
}

.Equals {
        background-color: #d13e3e;
}

.mMod {
        background-color: #5e5eeb;
}

.Content {
        flex-grow: 1;
}

.CalcButtons {
        display: flex;
        gap: 5px;
}

.CalcOps {
        display: flex;
        flex-direction: column;
        gap: 5px;
}

.CalcBody {
        font-family: "Calculator";
        font-weight: bold;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        background-color: #5f5f5f;
        padding: 20px;
        gap: 20px;
        margin-top: 50px;
        box-shadow: 10px 10px 50px #000000;
}

.CalcDisplay, .CalcHistory {
        text-align: right;
        padding-right: 10px;
        border: 1px solid #2b2b2b;
        box-shadow: inset 0 0 10px #2b2b2b;
        background-color: #6f7563;
        color: #2b2b2b;
}

.CalcDisplay {
        font-size: 46px;
}

.CalcMods {
        margin-bottom: -15px;
        margin-top: 40px;
        display: flex;
        gap: 5px;
}